#img{
  text-align: center;
}

#Image{
  width: 400px;
  height: 550px;
}

#textarea{
  text-align: center;
}

#description{
  resize: none;
}

#tagbox{
  text-align: center;
}

#tags{
  size:7;
}
