<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>새 게시물</title>
</head>

<body>
  <!--<form action="http://localhost:8080/create_process" method="post">
  <p><textarea class="SNS_text" name="description" placeholder="글쓰기" onkeyup="this.style.height='26px'; this.style.height = this.scrollHeight + 'px';"></textarea>
</p>
<p><input type="text" name="tags" placeholder="태그를 입력해주세요.">
</p>
</form> 이거 다음 폼에서 하기 -->

<form action="/" method="post" enctype="multipart/form-data">
  <div>
    <p>
      input
    </p>
    <center>
      <input type="submit" value="next">
    </center>
  </div>
</form>

</body>
</html>
